<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>AI Recognition | Django</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <style>
    body{
        background-color: #222;
    }
  </style>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">AI Recognition</a>
        <a class="navbar-brand ml-auto" href="#">Tuhin Karmakar</a>
        </div>
      </nav>

  </header>

  <div class="jumbotron jumbotron-fluid text-white" style="background-color : #222;">
    <div class="container text-center">
      <h1 class="display-4">The One Day Build Project</h1>
      <h1 class="lead my-4">by Tuhin Karmakar</h1>
      <hr class="my-4 bg-light">
      <p>The Purpose of this project is to use the Image Processing capabilites directly into the
        webpage without using anyform of JavaScript.</p>
      <a class="btn btn-light my-2 btn-lg px-4" href="{% url 'perform_recognition' %}" role="button" style="border-radius:25px;">Let's Start</a>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
